{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "complexity": ["error", 7]
  }
}
